/* heder colors
text h #212121
text hover #2196F3
contacts #757575

/* hero colors */
/* text -#FFFFFF
button-hover: #188CE8
button-#2196F3
bg-#2F303A
bg team #F5F4FA */

/* footer colors */
/* contacts rgba(255,255,255,0.6)
bg #2F303A */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --light-color: #ffffff;
  --style-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --btn-hover: #188ce8;
  --primery-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Общие стили */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.list {
  list-style: none;
}

/* Контейнеры */
.container {
  outline: solid greenyellow;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Сброс */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Хедер */

.header {
  background-color: var(--light-color);
  border-bottom: 1600px;
  border: 1px solid #ececec;
}

.header > .container {
  height: 80px;
}
.header-flex-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item,
.header-contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item > a {
  color: var(--secondary-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  color: var(--primery-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Герой */
.hero {
  background: var(--dark-bg-color);
  text-align: center;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  outline: solid red;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero-btn {
  padding: 10px 32px;
  max-width: 300px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background: var(--accent-color);
  border: 0px;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hover);
  cursor: pointer;
}

/* Преимущества */

.featurs {
  padding-top: 94px;
  padding-bottom: 94px;
}

.featurs-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.featurs-list {
  display: flex;
  margin-left: -30px;

  outline: 1px solid red;
}

.featurs-list > .featurs-item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  outline: 1px solid cornflowerblue;
}

.featurs-text {
  color: var(--primery-text-color);
}
/* Виды деятельности */
.activity {
  padding-bottom: 94px;
}

.activity > .title {
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  outline: 1px solid red;
}

.activity-list > .activity-item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.activity-pic {
  display: block;
}

/* Команда */
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-list-item {
  background-color: var(--light-color);
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-list-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primery-text-color);
}

/* Футер */
.footer {
  background-color: var(--dark-bg-color);
}

.logo-light {
  color: var(--light-color);
}

/* .footer .address {
  color: var(--light-color);
  font-style: normal;
  text-decoration: none;
} */

address.address {
  color: var(--light-color);
  font-style: normal;
  text-decoration: none;
}

.footer-contacts-link {
  color: var(--style-text-color);
}

/* Портфолио */

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
  cursor: pointer;
}

.projects-item {
  background-color: var(--light-color);
}

.projects-link {
  text-decoration: none;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primery-text-color);
}
